@page "/lobby/{id:guid}"


@if (_quizStarted is false)
{
    <h1>Welcome to the lobby</h1>
    <button @onclick="@OnStartQuizButton" class="bg-transparent hover:bg-navBlue text-navBlue hover:text-white font-semibold 
                p-4 border border-navBlue rounded">
        Start Quiz
    </button>
}

@if (Question is not null)
{
    <h1 class="text-2xl mb-10 text-center font-bold">@Question.Text</h1>
    <div class="flex flex-row justify-around h-full">
        @foreach (var answer in @Question.Answers)
        {
            <div class="w-1/4 pb-6 border border-navBlue rounded">
                <img src="@answer.Picture" class="h-full object-cover"/>
                <h3 class="text-center">@answer.Text</h3>
            </div>
        }
    </div>

}

@if (_quizFinished)
{
    <h2>Results</h2>
}