@page "/lobby/{id:guid}"

<div class="flex items-center h-screen">

@if (_quizStarted is false)
{
    <div>
        <h1>Welcome to the lobby</h1>
        <button @onclick="@OnStartQuizButton" class="bg-transparent hover:bg-navBlue text-navBlue hover:text-white font-semibold 
                    p-4 border border-navBlue rounded">
            Start Quiz
        </button>
    </div>
}

@if (Question is not null)
{
    <div>
    <h1 class="text-5xl mb-20 text-center font-bold">@Question.Text</h1>
        <div class="flex flex-row justify-around flex-wrap">
            @foreach (var answer in @Question.Answers)
            {
                <div @onclick="() => OnAnswerQuestion(answer)" class="flex flex-col flex-1 mx-5 max-w-[33%] border-2 border-navBlue bg-lightBlue rounded-lg shadow-2xl hover:cursor-pointer">
                    <img src="@answer.Picture" class="rounded-t-lg grow object-cover border-b-2 border-navBlue"/>
                    <div class="p-5">
                        <h3 class="text-center text-white font-bold align-middle">@answer.Text</h3>
                    </div>
                </div>
            }
        </div>
    </div>

}

@if (_quizFinished)
{
    <h2>Results</h2>
}

</div>