@page "/lobby/{id:guid}"

@* Debug only *@
<div>
    <select @bind="@User">
        <option value={@Guid.Parse("A7F6F50A-3B1A-4065-8274-62EDD210CD1A")}>Ferda</option>
        <option value={@Guid.Parse("14B1DEFA-2350-46C9-9C1C-01E4C63ACD79")}>Brouk Pytlík</option>
    </select>
    <button @onclick="OnInitializedAsync">Reconnect</button>
</div>
@* ---------- *@

@if (_quizStarted is false && QuizModel is not null)
{
    <div class="flex flex-col justify-between items-center h-screen w-full">
        <h1 class="text-center text-3xl font-bold m-5">@QuizModel.Title lobby</h1>
        <Button Text="Start Quiz" OnClickEvent="@OnStartQuizButton" Variant="1"></Button>
        <div class="flex flex-row flex-wrap justify-around mx-[10%] basis-2/3">
            @foreach (var user in @Users)
            {
                <div class="mx-5">
                    <img src="@user.Photo" class="rounded-full w-[100px] h-[100px] border border-navBlue" />
                    <p class="text-center font-semibold mt-2">@user.Name</p>
                </div>
            }
        </div>

    </div>
}

@if (Question is not null)
{
    <div class="flex items-center h-screen">
        <div class="flex flex-col w-full">
            <h1 class="text-5xl mb-10 text-center font-bold">@Question.Text</h1>
            <div class="self-center">
                <Button OnClickEvent="OnGetNextQuestionButton" Text="Next Question" Variant="1"></Button>
            </div>
            <div class="flex flex-row justify-around flex-wrap mt-10 items-stretch">
                @if (_answered)
                {
                    <div class="w-full mx-[40%] p-5 border border-b-4 rounded-lg">
                        <h3 class="text-center font-semibold mb-3">Answer Distrubution</h3>
                        <BlazorBootstrap.PieChart @ref="_pieChart" Class="mb-4"/>
                    </div>
                }
                @if (!_answered)
                {
                    @foreach (var answer in @Question.Answers)
                    {
                        <div @onclick="() => OnAnswerQuestion(answer)" class="flex flex-col flex-1 mx-5 max-w-[33%] border-2 border-navBlue bg-lightBlue rounded-lg shadow-2xl hover:cursor-pointer transition ease-in-out delay-50 hover:scale-110">
                            <img src="@answer.Picture" class="rounded-t-lg grow object-cover border-b-2 border-navBlue"/>
                            <div class="p-5">
                                <h3 class="text-center text-white font-bold align-middle">@answer.Text</h3>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

@if (_quizFinished)
{
    <h2>Results</h2>
}

